* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.navigation {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 100%;
  height: 60px;
}
.nav-details {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.leftnav-side {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.leftnav-side h4 {
  font-weight: 500;
}
.nav-leaf {
  display: flex;
  width: 1%;
  /* width: 20%; */
}
.dropdownn {
  color: #1d9336;
}
.nav--leaf {
  display: flex;
  width: 10%;
  display: none;
}
.le-af {
  width: 100%;
}
.le-af img {
  width: 25px;
}
.rightsidenav {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.homepage {
  background-color: #1d9336;
  width: 100%;
  height: 45px;
}
.trumpet {
  width: 75%;
  margin: auto;
  display: flex;
  gap: 15px;
}
.trump-text {
  color: white;
  font-size: 20px;
}
.trump-icon {
  width: 4%;
}
.trump-icon img {
  width: 100%;
}
.trumpet {
  padding-top: 5px;
}
.home-page {
  background-color: #f6ffe3;
  width: 100%;
  height: auto;
}
.home-white-bg {
  border: 1px solid #ccc;
  border-radius: 28px;
  background-color: white;
  height: 60px;
  width: 50%;
  margin: auto;
}
.home-green-bg {
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #aae868;
  height: 90px;
  width: 25%;
  margin: auto;
  margin-top: -75px;
}
.rated-hr {
  width: 59%;
  margin: auto;
  font-size: 28px;
  color: #599d15;
  font-weight: 700;
  line-height: 64px;
  margin-top: 30px;
}
.hr-p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}
.onboard-image {
  width: 8%;
}
.onboard-image img {
  width: 100%;
}
.all-flex {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.demo-color {
  background-color: #ce4755;
  height: 55px;
  width: 14%;
  text-align: center;
  color: white;
  margin: auto;
  border-radius: 28px;
}
.demo-color h4 {
  padding-top: 15px;
}
.remark {
  background-color: #f9ffed;
  width: 100%;
  height: 90vh;
}
.re-mark {
  width: 60%;
  margin: auto;
  color: #599d15;
  padding-top: 100px;
}
.two-image {
  width: 45%;
  margin-left: 35px;
}
.two-star {
  width: 70%;
}
.two-image img {
  width: 70%;
}
.two-star img {
  width: 100%;
}
.sliders {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);  */
  width: 85%;
  overflow: hidden;
  position: relative;
  gap: 15px;
}
.allstars {
  width: 15%;
  margin-top: 55px;
}
.slide-section {
  width: 90%;
  margin: auto;
  display: flex;
}
.slide-one {
  border: 1px solid #ccc;
  height: 250px;
  border-radius: 6px;
  width: 100%;
  background-color: white;
}
.d-slider {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  transition: transform 0.5s ease-in-out;
}
.slide-one:nth-child(1) {
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.slide-one:nth-child(2) {
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.slide-one:nth-child(3) {
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

/* button {
  padding: 5px 10px;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  border-radius: 5px;
} */

.announcement {
  width: 90%;
  margin: auto;
}
.announcement h1 {
  text-align: center;
}
.hire {
  width: 30%;
}
.hire img {
  width: 100%;
  margin-bottom: 20px;
}
.hire h4 {
  margin-bottom: 20px;
}
.all-announcement {
  display: flex;
  justify-content: space-between;
}

.d-line_ {
  border-bottom: 1px solid #ccc;
  width: 45%;
}
.d-line__ {
  border-bottom: 1px solid #ccc;
  width: 75%;
  margin: auto;
}
.d-line___ {
  border-bottom: 1px solid #ccc;
  width: 95%;
  margin: auto;
}

.time-attendance {
  width: 45%;
}
.time--attendance {
  width: 100%;
}
.iconflex {
  display: flex;
  justify-content: space-between;
}

.if {
  font-size: 24px;
  color: #00673b;
  cursor: pointer;
}
.image-side {
  width: 55%;
}
.image-side img {
  width: 100%;
}
.content-flex {
  display: flex;
  gap: 30px;
}
.text-side p {
  font-size: 17px;
}
.text--side p {
  font-size: 18px;
}
.text-side {
  width: 45%;
}
.hr-cost {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  color: #599d15;
}
.amounts {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  display: none;
}

.hr- {
  height: 400px;
}
.aone {
  width: 25%;
}

.aone p {
  font-size: 19px;
}
.integration {
  text-align: center;
}

.customers {
  text-align: center;
  padding-top: 100px;
}

.customers-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 85%;
  margin: auto;
}

.card-one {
  border: 1px solid #ccc;
  height: 200px;
  border-radius: 8px;
  width: 100%;
  background-color: white;
}
.card-two {
  border: 1px solid #ccc;
  height: 230px;
  border-radius: 8px;
  width: 100%;
  margin-top: 25px;
  background-color: white;
}
.card-three {
  border: 1px solid #ccc;
  height: 300px;
  border-radius: 8px;
  width: 100%;
  background-color: white;
}
.card-four {
  border: 1px solid #ccc;
  height: 200px;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  margin-top: 25px;
}
.card-five {
  border: 1px solid #ccc;
  height: 250px;
  border-radius: 8px;
  background-color: white;
  margin-top: -100px;
}
.card-six {
  border: 1px solid #ccc;
  height: 320px;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  margin-top: -45px;
}
.card-sv {
  border: 1px solid #ccc;
  height: 230px;
  border-radius: 8px;
  width: 100%;
  margin-top: 25px;
  background-color: white;
  margin-top: -3px;
}
.card-eight {
  border: 1px solid #ccc;
  height: 320px;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  margin-top: -75px;
}
.c-text {
  padding: 25px;
}
.c-text h4 {
  font-weight: 500;
  font-size: 14px;
}
.cards-image {
  width: 20%;
}
.cards-image img {
  width: 100%;
  border-radius: 24px;
}
.flex-card {
  display: flex;
  width: 85%;
  margin: auto;
  gap: 10px;
}
.fc h4 {
  font-size: 14px;
}
.fc p {
  font-size: 13px;
}
.login-btn {
  border: 2px solid green;
  padding: 7px 25px;
  color: green;
  background: transparent;
  border-radius: 22px;
  font-size: 16px;
  cursor: pointer;
}
.login-btnn {
  border: none;
  padding: 7px 21px;
  color: green;
  background: transparent;
  border-radius: 22px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2e7918;
  color: white;
}
.numbers {
  margin-top: 7px;
}

.leaf img {
  width: 100%;
}
.leaf {
  width: 7%;
}

.leaf-flex {
  display: flex;
  width: 40%;
  margin: auto;
  margin-top: 100px;
}
.icon-image- {
  width: 75%;
  margin: auto;
}

.rush {
  text-align: center;
  color: #599d15;
  padding-top: 150px;
}
.real h1 {
  color: #599d15;
  padding-top: 150px;
}

.real {
  text-align: center;
}
.rush h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 42px;
}
.brown {
  background-color: #58524f;
  width: 100%;
  height: auto;
}

.footer {
  width: 70%;
  padding: 70px;
  /* margin: auto; */
}
.footer-flex {
  display: flex;

  justify-content: space-between;
  color: white;
}
.roles {
  line-height: 34px;
  margin-top: 35px;
}
.role-one,
.role-three {
  line-height: 35px;
}

.sell {
  color: #d4fd80;
  font-weight: 600;
  margin-top: 80px;
}

.sell-flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.sell-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  /* display: none; */
}
.social {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 60%;
}

.socials {
  width: 30%;
}

.footer-text {
  color: white;
  margin-top: 15px;
}
.c_text {
  padding: 25px;
}

.c_text h3 {
  font-weight: 400;
}

.prev {
  background: transparent;
  background-color: green;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}

.pricing-form {
  background-color: white;
  width: 45%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.plans {
  width: 55%;
}
.plans h1 {
  font-size: 55px;
  color: #599d15;
}
.price-plan {
  display: flex;
  padding: 60px;
}

.gp {
  text-align: center;
  padding-top: 40px;
  color: #00673b;
}

.pricing_form {
  width: 85%;
  margin: auto;
}

.p-inputs {
  display: flex;
  gap: 15px;
  /* margin-bottom: 20px; */
}
.p_input {
  width: 50%;
}

.p_input input {
  padding: 14px 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.email {
  width: 100%;
  margin-bottom: 20px;
}
.email input {
  width: 100%;
  padding: 14px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}
.p_input select {
  width: 100%;
  padding: 14px 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.p_input {
  position: relative;
  display: inline-block;
  width: 250px;
  margin-bottom: 1.5rem;
}

.p_input select {
  width: 100%;
  padding: 12px 10px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  appearance: none; /* removes default arrow */
  background: transparent;
}
.country_input {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
}
.country_input select {
  width: 100%;
  padding: 14px 10px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  appearance: none; /* removes default arrow */
  background: transparent;
  outline: none;
}
.p_input select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>")
    no-repeat right 10px center;
  padding-right: 30px; /* space for arrow */
}

.country_input select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>")
    no-repeat right 10px center;
  padding-right: 30px; /* space for arrow */
}

.country_input label {
  position: absolute;
  top: -8px;
  left: 12px;
  background: #fff;
  padding: 0 4px;
  font-size: 13px;
  color: green;
  font-weight: 600;
}

.p_input label {
  position: absolute;
  top: -8px;
  left: 12px;
  background: #fff;
  padding: 0 4px;
  font-size: 13px;
  color: green;
  font-weight: 600;
}

.form-footer p {
  font-size: 14px;
}

.form-submit {
  background: transparent;
  background-color: #2e7918;
  padding: 20px 10px;
  border-radius: 32px;
  color: white;
  width: 100%;
  font-size: 20px;
  border: none;
}

.comprehensive {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
.com {
  font-weight: 700;
}

.com-icon {
  font-size: 21px;
  /* background-color: #d5fe81; */
  width: 5%;
  text-align: center;
  border-radius: 21px;
  padding-top: 4px;
  height: 34px;
  margin-top: -5px;
  color: #2e7918;
}
.price-info {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.home-page-price {
  min-height: 100vh;
  background: linear-gradient(to bottom, #f6ffe5 0%, #ffffff 100%);
}

.price-info h1 {
  margin-bottom: 20px;
}

.core {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 90%;
  margin: auto;
}

.co-re {
  border: 1px solid #ccc;
  height: auto;
  border-radius: 8px;
  width: 100%;
  background-color: white;
}

.core-details {
  padding: 25px;
}
.core-details h1 {
  margin-bottom: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
}
.core-details h3 {
  font-weight: 500;
}
.core-details p {
  font-size: 19px;
}

.checkmark {
  display: flex;
  gap: 5px;
  line-height: 45px;
}

.checkicon {
  font-size: 18px;
  color: green;
}

.core-red {
  background-color: #ce4755;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: -35px;
}
.core-inside {
  background-color: white;
  width: 99%;
  margin: auto;
  height: 593px;
  margin-top: 5px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.core-red h3 {
  text-align: center;
  padding-top: 10px;
  color: white;
}

.pm h3 {
  color: black;
}

.soon {
  text-align: center;
  color: #1d9336;
}

.add-ons {
  background-color: #fafaf8;
  height: auto;
  width: 100%;
}

.solutions {
  text-align: center;
}

.solutions h1 {
  color: #599d15;
}

.nigeria {
  color: white;
  background: transparent;
  background-color: #00673b;
  padding: 18px 45px;
  border: none;
  border-radius: 28px;
  font-size: 19px;
  font-weight: 700;
}

.add-one {
  border: 1px solid #ccc;
  height: auto;
  width: 100%;
  border-radius: 16px;
  background-color: white;
}

.addflex {
  width: 60%;
  margin: auto;
  display: flex;
  gap: 35px;
}

.spend {
  padding: 25px;
}
.spend p {
  font-size: 18px;
}
.m-d {
  line-height: 30px;
}

.calculator {
  display: flex;
  width: 45%;
  margin: auto;
  gap: 25px;
}

.quote {
  background-color: #ce4755;
  width: 50%;
  height: 65px;
  text-align: center;
  color: white;
  border-radius: 32px;
  padding-top: 20px;
  cursor: pointer;
}

.quote:hover {
  background-color: #a50f1e;
}

.qu-ote {
  border: 2px solid #ce4755;
  width: 50%;
  height: 65px;
  text-align: center;
  color: #ce4755;
  border-radius: 32px;
  padding-top: 20px;
  cursor: pointer;
}

.qu-ote:hover {
  background-color: #ce4755;
  color: white;
}

.company-count {
  text-align: center;
  margin-top: 100px;
}

.line {
  text-decoration: none;
  color: black;
}
.saved {
  font-weight: 700;
}

.naija {
  width: 11%;
}
.naija img {
  width: 100%;
  border-radius: 8px;
}

/* Parent */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown h4 {
  margin: 0;
  padding: 10px;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 270px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 5px;
  z-index: 1000;
  height: 200px;
}
.dropdown-menu- {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 900px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 5px;
  z-index: 1000;
  height: 350px;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
}
.dropdown-menu- a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background: #f2f2f2;
}
.dropdown-menu- a:hover {
  background: #f2f2f2;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown:hover .dropdown-menu- {
  display: block;
}
.dropdown h4 {
  font-weight: 700;
  color: #58524f;
}
.platform {
  display: flex;
}
.platform--border {
  width: 65%;
}

.platform-boder {
  border: 1px solid #ccc;
  height: auto;
  border-radius: 8px;
  width: 100%;
}

.pd {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-reporting {
  display: flex;
  gap: 10px;
}

.navigationflex {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-icon {
  margin-top: 6px;
  color: green;
  font-size: 26px;
}

.dropdown h2 {
  color: #599d15;
}

.green-footer {
  display: none;
}
.sell--flex {
  display: none;
}

.rated--hr {
  display: none;
}

.re-marks {
  display: none;
}

.hamburger {
  display: none;
}

.amounts-vertical {
  display: none;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.enes-picture {
  width: 50%;
}
.enes-picture img {
  width: 100%;
}
.enes-commercial {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;
  padding-top: 15px;
}

.get-plans {
  display: none;
}

.customers-mobile-green {
  display: none;
}
.d-slider-two {
  display: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  transition: transform 0.5s ease-in-out;
  display: none;
}

.nav-hr {
  font-weight: 400;
}

/* .p_input .error {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  color: #c62828;
} */

@media (max-width: 500px) {
  .all-announcement {
    display: block;
    /* width: 100%; */
  }

  .hire {
    width: 100%;
    margin-bottom: 55px;
  }
  .ments {
    width: 60%;
    text-align: center;
    margin: auto;
  }
  .time-attendance {
    width: 100%;
  }
  .d-line_ {
    width: 100%;
  }
  .content-flex {
    display: block;
  }
  .text-side {
    width: 100%;
  }
  .image-side {
    width: 100%;
  }
  .hr-cost {
    width: 100%;
  }
  .amounts {
    display: none;
  }
  .amounts-vertical {
    display: block;
  }
  .aone {
    width: 100%;
    margin-bottom: 10px;
  }
  .leaf-flex {
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
  }
  .leaf {
    display: none;
  }

  .hr- {
    display: none;
  }
  .d-line__,
  .icon-image- {
    width: 95%;
  }
  .text--side {
    margin-top: 20px;
  }
  .brown {
    display: none;
  }
  .green-footer {
    background-color: #00673b;
    color: white;
    display: block;
  }
  .footer-flex {
    display: block;
  }
  .role-three {
    margin-top: 20px;
  }
  .sell-flex {
    display: block;
  }

  .sell-footer {
    display: block;
  }
  .socials {
    width: 100%;
    margin-top: 20px;
  }
  .re-mark {
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .slide-section {
    display: block;
  }
  .allstars {
    width: 35%;
    margin: auto;
  }
  .two-star {
    width: 85%;
  }
  .all-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 75%;
    margin: auto;
  }
  .onboard-image {
    width: 100%;
  }
  .onboard-image img {
    width: 60%;
  }
  .demo-color {
    width: 85%;
    background-color: green;
    font-size: 20px;
    margin-top: 15px;
  }
  .vertical {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .rated-hr {
    display: none;
  }
  .rated--hr {
    display: block;
  }
  .rated--hr {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #00673b;
  }
  .homepage {
    display: none;
  }
  .home-white-bg {
    height: 230px;
  }
  .home-green-bg {
    width: 80%;
    margin-top: -155px;
    margin-bottom: 100px;
  }
  .hr-p p {
    font-size: 18px;
  }
  .re-mark {
    display: none;
  }
  .re-marks {
    display: block;
    width: 85%;
    margin: auto;
    margin-top: 50px;
  }
  .re-marks h1 {
    font-size: 24px;
    text-align: center;
  }
  .nav-leaf,
  .dropdown,
  .rightsidenav {
    display: none;
  }
  .navigation {
    border-bottom: 1px solid #ccc;
  }

  .sell-footer {
    display: block;
  }
  .hamburger {
    display: block;
  }

  .mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 280px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .mobile-sidebar.open {
    transform: translateX(0); /* slide in */
  }

  .sidebar-header {
    display: flex;
    justify-content: flex-end;
  }

  .close-icon {
    cursor: pointer;
  }

  .mb-bottom {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .mb-line {
    text-decoration: none;
    color: black;
    margin-bottom: 11px;
  }
  .mb-iconflex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mobile-icon {
    font-size: 21px;
    font-weight: 600;
    color: #00673b;
  }
  .mb-number p {
    color: #00673b;
    font-weight: 700;
  }
  .mobile-image {
    width: 10%;
  }
  .mobile-image img {
    width: 100%;
  }
  .naija-flag {
    display: flex;
    gap: 10px;
  }
  .nav--leaf {
    display: block;
    display: flex;
  }
  .hamburger-container {
    display: flex;
    gap: 20px;
  }
  .eneshrimage {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #1d9336;
  }

  .price-plan {
    display: block;
    padding: 20px;
  }

  .plans {
    width: 100%;
    text-align: center;
  }
  .pricing-form {
    width: 100%;
  }
  .p-inputs {
    display: block;
  }
  .p_input {
    width: 100%;
  }
  .p_input input {
    width: 100%;
  }
  .core {
    display: block;
  }

  .co-re {
    margin-bottom: 20px;
  }
  .nav-hr {
    font-weight: 400;
  }
  .core-inside {
    height: 557px;
  }
  .core-red {
    height: 600px;
    margin-top: 20px;
  }
  .addflex {
    display: block;
    width: 90%;
    margin: auto;
  }

  .add-one {
    width: 100%;
    margin-bottom: 20px;
  }

  .calculator {
    display: block;
    width: 90%;
    margin: auto;
  }
  .quote,
  .qu-ote {
    width: 100%;
    margin-bottom: 20px;
  }

  input,
  select,
  textarea {
    -webkit-text-size-adjust: 100%;
  }
  .sliders {
    margin-top: 10px;
    width: 100%;
  }
  .d-slider {
    display: none;
    width: 100%;
  }
  .d-slider-two {
    display: block;
  }
  .slide-one {
    margin-bottom: 20px;
  }

  .cards-image img {
    border-radius: 52px;
  }

  .get-plans {
    display: block;
  }

  .gt-plans {
    display: none;
  }

  .controls {
    display: none;
  }

  .card-one {
    height: auto;
  }

  .customers-cards {
    display: none;
  }

  .customers-mobile-green {
    display: block;
    width: 95%;
    margin: auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
    gap: 16px;
  }

  .customers-mobile-green > div {
    flex: 0 0 90%;
    scroll-snap-align: start;
    /* background: #f5f5f5; */
    border-radius: 12px;
    padding: 20px;
  }

  .mobile_green {
    background-color: green;
    height: 402px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 18px;
  }
  .mobile_green-two {
    background-color: green;
    height: 260px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 18px;
  }
  .mobile_green-three {
    background-color: green;
    height: 305px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 18px;
  }
  .mobile_green-fr {
    background-color: green;
    height: 270px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 18px;
  }

  .mobile-white {
    background-color: white;
    height: 393px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 16px;
  }
  .mobile-white-two {
    background-color: white;
    height: 250px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 16px;
  }
  .mobile-white-three {
    background-color: white;
    height: 295px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 16px;
  }
  .mobile-white-fr {
    background-color: white;
    height: 260px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 16px;
  }

  .mwt {
    color: #333;
    padding: 25px;
  }

  .mwt h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
  }

  .mwt-image {
    width: 30%;
    margin-top: 25px;
  }

  .mwt-image img {
    width: 100%;
    border-radius: 45px;
  }
  .fcc {
    margin-top: 30px;
  }
  .fcc h4 {
    font-size: 14px;
  }
  .fcc p {
    font-size: 13px;
  }

  .footer {
    padding: 20px;
  }

  .home-page {
    height: auto;
  }

  .com-icon {
    background-color: transparent;
  }
  .stories-real {
    width: 95%;
    margin: auto;
  }

  .dropdown-content {
    line-height: 30px;
  }

  .report-mobile {
    width: 10%;
    margin-top: 5px;
  }

  .report-mobile img {
    width: 100%;
  }

  .flex-onmobile {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .dropdown-content {
    width: 100%;
  }
  .numbers {
    color: green;
    text-decoration: none;
  }

  .submenu {
    line-height: 35px;
  }
}
@media (max-width: 360px) {
  .ments {
    width: 90%;
    margin: auto;
  }
  .hr-cost h1 {
    font-size: 19px;
  }
  .hr-cost {
    width: 90%;
  }
  .rush,
  .hr-p {
    width: 90%;
    margin: auto;
  }
  .rush h1 {
    font-size: 22px;
  }
  .onboard-image p {
    font-size: 14px;
  }
}

